# Local files
*.local.*

# Temporary files
/tmp/

# Env files
.env

# direnv / Nix
/.direnv/

# Docker
/docker/secrets/
/docker/volumes/

# Rust
/target/

# Git Hooks
.pre-commit-config.yaml

rust-project.json
